html{
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

ul, ol{
    list-style: none;
}

.container-large{
    width: 100%;
}

.container-medium{
    max-width: 950px;
}

.container-small{
    max-width: 600px;
}

.container-large, .container-medium, .container-small{
    margin: 0 auto;
}

.col.landscape-col{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.blue-button{
    background-color: #0061FF;
    color: white;
    padding: 5px 18px;
}

header .col li{
    display: inline-block;
    padding: 5px 20px;
}

header .container-large .row{
    padding: 10px;
}

.col.left-col-wrapper, .col.right-col-wrapper{
    width: 50%;
}

.col{
    float: left;
}

.right-col-wrapper{
    float: right;
}

#blue-bkc{
    background-color: #B4D0E7;
}

section .container-medium .first-section-up-row{
    padding-top: 60px;
}

section .container-medium .first-section-bottom-row{
    padding-top: 30px;
}

.col.title-wrapper > h1{
    font-size: 62px;
    font-weight: 800;
}

.col.first-section-left-col{
    width: calc((1 / 3) * 100%);
}

.col.first-section-right-col{
    width: calc((2 / 3) * 100%);
}


.first-section-right-col{
    float: right;
}

.first-section-left-col .button-wrapper{
    padding-top: 20px;
    padding-bottom: 40px;
}

.button-wrapper > span{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.icon-wrapper .fa-arrow-down{
    font-size: 40px;
}

.first-section-left-col .paragraph-wrapper{
    width: 95%;
    font-size: 15px;
}

section{
    position: relative;
}

.bottom-white-band{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
}

section#blue-bkc{
    z-index: -2;
}
                /* DEBUG */

.debug .container-large{
    border: 2px solid orangered;
}                

.debug .container-medium{
    border: 2px solid blue;
}

.debug .container-small{
    border: 2px solid green;
}

.debug .row{
    border: 2px solid yellow;
}

.debug .col{
    border: 2px solid purple;
}